In [1]:
import pandas as pd
from sqlalchemy import create_engine
import urllib.parse
import mysql.connector

In [22]:
con = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Nagunaveen@143"
)
cursor = con.cursor()
cursor

In [14]:
# want to create a database
query = "create database global_electronics"
cursor.execute(query)

***Created Customers table***

In [6]:
import mysql.connector
try:
    con = mysql.connector.connect(
        host="localhost",
        user="root",
        password="Nagunaveen@143",
        database="global_electronics"
    )
    if con.is_connected():
        print("Connected to MySQL database")
    cursor = con.cursor()
    query = """CREATE TABLE customers(
                            CustomerKey int primary key,
                            Gender varchar(20),
                            Name varchar(100),
                            City varchar(255),
                            State_Code varchar(20),
                            State varchar(100),
                            Zip_Code varchar(20),
                            Country varchar(50),
                            Continent varchar(50),
                            Birthday Date
                )"""
    cursor.execute(query)
    print("Table 'customers' created successfully.")
    cursor.close()
    con.close()
except mysql.connector.Error as error:
    print("Error connecting to MySQL:", error)

Connected to MySQL database
Table 'customers' created successfully.

***Created Stores table***

In [9]:
import mysql.connector
try:
    con = mysql.connector.connect(
        host="localhost",
        user="root",
        password="Nagunaveen@143",
        database="global_electronics"
    )
    if con.is_connected():
        print("Connected to MySQL database")
    cursor = con.cursor()
    query = """CREATE TABLE stores ( 
                             StoreKey INT PRIMARY KEY,
                             Country VARCHAR(50),
                             State VARCHAR(100),
                             SquareMeters INT,
                             OpenDate DATE
                            )"""
    cursor.execute(query)
    print("Table created successfully.")
    cursor.close()
    con.close()
except mysql.connector.Error as error:
    print("Error connecting to MySQL:", error)

Connected to MySQL database
Table created successfully.

***Created Products table***

In [17]:
import mysql.connector
try:
    con = mysql.connector.connect(
        host="localhost",
        user="root",
        password="Nagunaveen@143",
        database="global_electronics"
    )
    if con.is_connected():
        print("Connected to MySQL database")
    cursor = con.cursor()
    query = """CREATE TABLE products ( 
                           ProductKey INT PRIMARY KEY,
                           ProductName VARCHAR(100),
                           Brand VARCHAR(100),
                           Color VARCHAR(50),
                           UnitCostUSD float,
                           UnitPriceUSD float,
                           SubcategoryKey INT,
                           Subcategory VARCHAR(100),
                           CategoryKey INT,
                           Category VARCHAR(100) 
                            )"""
    cursor.execute(query)
    print("Table created successfully.")
    cursor.close()
    con.close()
except mysql.connector.Error as error:
    print("Error connecting to MySQL:", error)

Connected to MySQL database
Table created successfully.

***exchange rate***

In [12]:
import mysql.connector
try:
    con = mysql.connector.connect(
        host="localhost",
        user="root",
        password="Nagunaveen@143",
        database="global_electronics"
    )
    if con.is_connected():
        print("Connected to MySQL database")
    cursor = con.cursor()
    query = """CREATE TABLE exchange_rates( 
                                Date DATE,
                                Currency varchar(20),
                                Exchange float
                                        )"""
    cursor.execute(query)
    print("Table created successfully.")
    cursor.close()
    con.close()
except mysql.connector.Error as error:
    print("Error connecting to MySQL:", error)

Connected to MySQL database
Table created successfully.

***created sales table***

In [15]:
import mysql.connector
try:
    con = mysql.connector.connect(
        host="localhost",
        user="root",
        password="Nagunaveen@143",
        database="global_electronics"
    )
    if con.is_connected():
        print("Connected to MySQL database")
    cursor = con.cursor()
    query = """CREATE TABLE sales ( 
                            OrderNumber INT,
                            LineItem INT,
                            OrderDate DATE,
                            DeliveryDate DATE,
                            CustomerKey INT,
                            StoreKey INT,
                            ProductKey INT,
                            Quantity INT,
                            CurrencyCode VARCHAR(10),
                            PRIMARY KEY (OrderNumber, LineItem),
                            FOREIGN KEY (CustomerKey) REFERENCES Customers(CustomerKey),
                            FOREIGN KEY (StoreKey) REFERENCES Stores(StoreKey),
                            FOREIGN KEY (ProductKey) REFERENCES Products(ProductKey)
                            )"""
    cursor.execute(query)
    print("Table created successfully.")
    cursor.close()
    con.close()
except mysql.connector.Error as error:
    print("Error connecting to MySQL:", error)

Connected to MySQL database
Table created successfully.

In [24]:
query ="describe customers"
cursor.execute(query)
for i in cursor:
    print(i)

('CustomerKey', 'int', 'NO', 'PRI', None, '')
('Gender', 'varchar(20)', 'YES', '', None, '')
('Name', 'varchar(100)', 'YES', '', None, '')
('City', 'varchar(255)', 'YES', '', None, '')
('State_Code', 'varchar(20)', 'YES', '', None, '')
('State', 'varchar(100)', 'YES', '', None, '')
('Zip_Code', 'varchar(20)', 'YES', '', None, '')
('Country', 'varchar(50)', 'YES', '', None, '')
('Continent', 'varchar(50)', 'YES', '', None, '')
('Birthday', 'date', 'YES', '', None, '')

In [17]:
query ="describe sales"
cursor.execute(query)
for i in cursor:
    print(i)

('OrderNumber', 'int', 'NO', 'PRI', None, '')
('LineItem', 'int', 'NO', 'PRI', None, '')
('OrderDate', 'date', 'YES', '', None, '')
('DeliveryDate', 'date', 'YES', '', None, '')
('CustomerKey', 'int', 'YES', 'MUL', None, '')
('StoreKey', 'int', 'YES', 'MUL', None, '')
('ProductKey', 'int', 'YES', 'MUL', None, '')
('Quantity', 'int', 'YES', '', None, '')
('CurrencyCode', 'varchar(10)', 'YES', 'MUL', None, '')

In [18]:
query ="describe stores"
cursor.execute(query)
for i in cursor:
    print(i)

('StoreKey', 'int', 'NO', 'PRI', None, '')
('Country', 'varchar(50)', 'YES', '', None, '')
('State', 'varchar(100)', 'YES', '', None, '')
('SquareMeters', 'int', 'YES', '', None, '')
('OpenDate', 'date', 'YES', '', None, '')

In [19]:
query ="describe sales"
cursor.execute(query)
for i in cursor:
    print(i)

('OrderNumber', 'int', 'NO', 'PRI', None, '')
('LineItem', 'int', 'NO', 'PRI', None, '')
('OrderDate', 'date', 'YES', '', None, '')
('DeliveryDate', 'date', 'YES', '', None, '')
('CustomerKey', 'int', 'YES', 'MUL', None, '')
('StoreKey', 'int', 'YES', 'MUL', None, '')
('ProductKey', 'int', 'YES', 'MUL', None, '')
('Quantity', 'int', 'YES', '', None, '')
('CurrencyCode', 'varchar(10)', 'YES', 'MUL', None, '')

In [20]:
query ="describe products"
cursor.execute(query)
for i in cursor:
    print(i)

('ProductKey', 'int', 'NO', 'PRI', None, '')
('ProductName', 'varchar(100)', 'YES', '', None, '')
('Brand', 'varchar(100)', 'YES', '', None, '')
('Color', 'varchar(50)', 'YES', '', None, '')
('UnitCostUSD', 'float', 'YES', '', None, '')
('UnitPriceUSD', 'float', 'YES', '', None, '')
('SubcategoryKey', 'int', 'YES', '', None, '')
('Subcategory', 'varchar(100)', 'YES', '', None, '')
('CategoryKey', 'int', 'YES', '', None, '')
('Category', 'varchar(100)', 'YES', '', None, '')

In [21]:
query ="describe exchange_rate"
cursor.execute(query)
for i in cursor:
    print(i)

('Date', 'date', 'NO', 'PRI', None, '')
('Currency', 'varchar(10)', 'NO', 'PRI', None, '')
('Exchange', 'float', 'YES', '', None, '')

In [1]:
import pandas as pd
import mysql.connector
from mysql.connector import Error

def insert_data(df, table_name, cursor, column_mapping):
    # Quote column names to handle special characters or spaces
    cols = ",".join([f"`{column_mapping.get(i, i)}`" for i in df.columns.tolist()])

    for i, row in df.iterrows():
        # Replace NaN values with None to insert as NULL in MySQL
        row = row.where(pd.notnull(row), None)
        
        # Check for any None values in the row
        if row.isnull().any():
            print(f"Row {i} contains NaN values that are being replaced with None: {row}")
        
        # Create placeholders for the SQL query
        placeholders = ", ".join(["%s"] * len(row))
        sql = f"INSERT INTO {table_name} ({cols}) VALUES ({placeholders})"
        try:
            cursor.execute(sql, tuple(row))
        except Error as e:
            print(f"Error inserting row {i}: {e}")
            continue

try:
    # Establish the connection
    con = mysql.connector.connect(
        host="localhost",
        user="root",
        password="Nagunaveen@143",
        database="global_electronics"
    )

    if con.is_connected():
        print("Connected to MySQL database")

        # Create a cursor object
        cursor = con.cursor()

        # Load data from Excel files into DataFrames
        df_customers = pd.read_excel(r'C:\\Users\\Green Gen Tech\\Downloads\\Customer_new.xlsx')
        df_products = pd.read_excel('C:\\Users\\Green Gen Tech\\Downloads\\products_cleaned.xlsx')
        df_exchange_rate = pd.read_excel(r'C:\Users\Green Gen Tech\Downloads\exchange_new.xlsx')
        df_stores = pd.read_excel(r'C:\\Users\\Green Gen Tech\\Downloads\\stores_new_cleaned.xlsx')
        df_sales = pd.read_excel(r'C:\\Users\\Green Gen Tech\\Downloads\\Sales_again_1.xlsx')

        # Define column mappings for each table
        column_mappings = {
            'customers': {
                'CustomerKey': 'CustomerKey', 
                'Gender': 'Gender', 
                'Name': 'Name', 
                'City': 'City', 
                'State': 'State', 
                'Zip Code': 'Zip_Code', 
                'Country': 'Country', 
                'Continent': 'Continent', 
                'Birthday': 'Birthday'
            },
            'products': {
                'ProductKey': 'ProductKey', 
                'Product Name': 'ProductName', 
                'Brand': 'Brand', 
                'Color': 'Color', 
                'Unit Cost USD': 'UnitCostUSD', 
                'Unit Price USD': 'UnitPriceUSD', 
                'SubcategoryKey': 'SubcategoryKey', 
                'Subcategory': 'Subcategory', 
                'CategoryKey': 'CategoryKey', 
                'Category': 'Category'
            },
            'sales': {
                'Order Number': 'OrderNumber', 
                'Line Item': 'LineItem', 
                'Order Date': 'OrderDate', 
                'Delivery Date': 'DeliveryDate', 
                'CustomerKey': 'CustomerKey', 
                'StoreKey': 'StoreKey', 
                'ProductKey': 'ProductKey', 
                'Quantity': 'Quantity', 
                'Currency Code': 'CurrencyCode'
            },
            'exchange_rates': {
                'Date': 'Date', 
                'Currency': 'Currency', 
                'Exchange': 'Exchange'
            },
            'stores': {
                'StoreKey': 'StoreKey', 
                'Country': 'Country', 
                'State': 'State', 
                'Square Meters': 'SquareMeters', 
                'Open Date': 'OpenDate'
            }
        }

        # Rename columns in DataFrames to match MySQL schema
        df_customers.rename(columns=column_mappings['customers'], inplace=True)
        df_products.rename(columns=column_mappings['products'], inplace=True)
        df_exchange_rates.rename(columns=column_mappings['exchange_rates'], inplace=True)
        df_stores.rename(columns=column_mappings['stores'], inplace=True)
        df_sales.rename(columns=column_mappings['sales'], inplace=True)
        # Insert data into respective MySQL tables
        insert_data(df_stores, 'stores', cursor, column_mappings['stores'])
        con.commit()  # Commit after inserting into stores

        insert_data(df_products, 'products', cursor, column_mappings['products'])
        insert_data(df_customers, 'customers', cursor, column_mappings['customers'])
        insert_data(df_exchange_rates, 'exchange_rates', cursor, column_mappings['exchange_rates'])
        
        # Insert sales data after ensuring stores data is present
        insert_data(df_sales, 'sales', cursor, column_mappings['sales'])
        
        # Commit the transaction
        con.commit()
        print("Data inserted successfully.")

    # Close the cursor and connection
    cursor.close()
    con.close()

except Error as e:
    print(f"Error: {e}")

Connected to MySQL database

NameError: name 'df_exchange_rates' is not defined

In [16]:
import pandas as pd
import mysql.connector
from mysql.connector import Error

def insert_data(df, table_name, cursor, column_mapping):
    # Quote column names to handle special characters or spaces
    cols = ",".join([f"`{column_mapping.get(i, i)}`" for i in df.columns.tolist()])

    for i, row in df.iterrows():
        # Replace NaN values with None to insert as NULL in MySQL
        row = row.where(pd.notnull(row), None)
        
        # Check for any None values in the row
        if row.isnull().any():
            print(f"Row {i} contains NaN values that are being replaced with None: {row}")
        
        # Create placeholders for the SQL query
        placeholders = ", ".join(["%s"] * len(row))
        sql = f"INSERT INTO {table_name} ({cols}) VALUES ({placeholders})"
        try:
            cursor.execute(sql, tuple(row))
        except Error as e:
            print(f"Error inserting row {i}: {e}")
            continue

In [17]:
try:
    # Establish the connection
    con = mysql.connector.connect(
        host="localhost",
        user="root",
        password="Nagunaveen@143",
        database="global_electronics"
    )

    if con.is_connected():
        print("Connected to MySQL database")

        # Create a cursor object
        cursor = con.cursor()

        #Load data from Excel files into DataFrames
        #df_customers = pd.read_excel(r'C:\\Users\\Green Gen Tech\\Downloads\\Customer_new.xlsx')
        #df_products = pd.read_excel('C:\\Users\\Green Gen Tech\\Downloads\\products_cleaned.xlsx')
       # df_stores = pd.read_excel(r'C:\\Users\\Green Gen Tech\\Downloads\\stores_new_cleaned.xlsx')
        #df_exchange_rate = pd.read_excel(r'C:\Users\Green Gen Tech\Downloads\exchange_new.xlsx')
        df_sales = pd.read_excel(r'C:\\Users\\Green Gen Tech\\Downloads\\Sales_again_1.xlsx')

        # Define column mappings for each table
        column_mappings = {
            'customers': {
                'CustomerKey': 'CustomerKey', 
                'Gender': 'Gender', 
                'Name': 'Name', 
                'City': 'City', 
                'State': 'State', 
                'Zip Code': 'Zip_Code', 
                'Country': 'Country', 
                'Continent': 'Continent', 
                'Birthday': 'Birthday'
            },
            'products': {
                'ProductKey': 'ProductKey', 
                'Product Name': 'ProductName', 
                'Brand': 'Brand', 
                'Color': 'Color', 
                'Unit Cost USD': 'UnitCostUSD', 
                'Unit Price USD': 'UnitPriceUSD', 
                'SubcategoryKey': 'SubcategoryKey', 
                'Subcategory': 'Subcategory', 
                'CategoryKey': 'CategoryKey', 
                'Category': 'Category'
            },
            'sales': {
                'Order Number': 'OrderNumber', 
                'Line Item': 'LineItem', 
                'Order Date': 'OrderDate', 
                'Delivery Date': 'DeliveryDate', 
                'CustomerKey': 'CustomerKey', 
                'StoreKey': 'StoreKey', 
                'ProductKey': 'ProductKey', 
                'Quantity': 'Quantity', 
                'Currency Code': 'CurrencyCode'
            },
            'exchange_rates': {
                'Date': 'Date', 
                'Currency': 'Currency', 
                'Exchange': 'Exchange'
            },
            'stores': {
                'StoreKey': 'StoreKey', 
                'Country': 'Country', 
                'State': 'State', 
                'Square Meters': 'SquareMeters', 
                'Open Date': 'OpenDate'
            }
        }

        # Rename columns in DataFrames to match MySQL schema
        df_customers.rename(columns=column_mappings['customers'], inplace=True)
        df_products.rename(columns=column_mappings['products'], inplace=True)
        df_exchange_rates.rename(columns=column_mappings['exchange_rates'], inplace=True)
        df_stores.rename(columns=column_mappings['stores'], inplace=True)
        df_sales.rename(columns=column_mappings['sales'], inplace=True)
        # Insert data into respective MySQL tables
        insert_data(df_stores, 'stores', cursor, column_mappings['stores'])
        con.commit()  # Commit after inserting into stores

        insert_data(df_products, 'products', cursor, column_mappings['products'])
        insert_data(df_customers, 'customers', cursor, column_mappings['customers'])
        insert_data(df_exchange_rates, 'exchange_rates', cursor, column_mappings['exchange_rates'])
        
        # Insert sales data after ensuring stores data is present
        insert_data(df_sales, 'sales', cursor, column_mappings['sales'])
        
    
        # Commit the transaction
        con.commit()
        print("Data inserted successfully.")

    # Close the cursor and connection
    cursor.close()
    con.close()

except Error as e:
    print(f"Error: {e}")

Connected to MySQL database
Data inserted successfully.