In [1]:
# Importing necessary libraries
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
# Read sales excel sheet
sales = pd.read_csv(r"C:\Users\Green Gen Tech\Downloads\sales_again.csv")

In [3]:
# Checking null values
sales.isnull().sum()

Order Number         0
Line Item            0
Order Date           0
Delivery Date    49719
CustomerKey          0
StoreKey             0
ProductKey           0
Quantity             0
Currency Code        0
dtype: int64

In [4]:
# Original shape of the sales excel sheet
sales.shape

(62884, 9)

In [6]:
# observing few records 
sales.head()

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code
0,366000,1,1/1/2016,NaN,265598,10,1304,1,CAD
1,366001,1,1/1/2016,1/13/2016,1269051,0,1048,2,USD
2,366001,2,1/1/2016,1/13/2016,1269051,0,2007,1,USD
3,366002,1,1/1/2016,1/12/2016,266019,0,1106,7,CAD
4,366002,2,1/1/2016,1/12/2016,266019,0,373,1,CAD

In [7]:
# convering to datatime for order date and delivery date
sales['Order Date'] = pd.to_datetime(sales['Order Date'], errors='coerce')
sales['Delivery Date'] = pd.to_datetime(sales['Delivery Date'], errors='coerce')

In [10]:
sales.isnull().sum()

Order Number         0
Line Item            0
Order Date           0
Delivery Date    49719
CustomerKey          0
StoreKey             0
ProductKey           0
Quantity             0
Currency Code        0
dtype: int64

In [11]:
min_date = sales['Order Date'].min()
max_date = sales['Order Date'].max()
print(f"Min date in sales dataframe is {min_date}\nand Max date in sales dataframe is {max_date}")

Min date in sales dataframe is 2016-01-01 00:00:00
and Max date in sales dataframe is 2021-02-20 00:00:00

In [12]:
# using bin frequency as 6 months
bin_frequency = '6M'

In [13]:
date_bins = pd.date_range(start=min_date, end=max_date, freq=bin_frequency)

In [14]:
# Calculate the difference in days
sales['Difference'] = (sales['Delivery Date'] - sales['Order Date']).dt.days

# Calculate the average difference
average_difference = sales['Difference'].mean()

In [15]:
# average differnce of the delivery date and order date is
print(f'Average difference in days: {average_difference}')

Average difference in days: 4.529130269654386

In [16]:
# Fill null values in 'Delivery Date' with 'Order Date' + average_difference
sales['Delivery Date'].fillna(sales['Order Date'] + pd.to_timedelta(average_difference, unit='days'), inplace=True)

# Drop the 'Difference' column as it's no longer needed
sales.drop(columns=['Difference'], inplace=True)

In [18]:
excel = "C:\\Users\\Green Gen Tech\\Downloads\\Sales_again_1.xlsx"
sales.to_excel(excel,index = False)

In [19]:
sales.head()

,Order Number,Line Item,Order Date,Delivery Date,CustomerKey,StoreKey,ProductKey,Quantity,Currency Code
0,366000,1,2016-01-01,2016-01-05 12:41:56.855298140,265598,10,1304,1,CAD
1,366001,1,2016-01-01,2016-01-13 00:00:00.000000000,1269051,0,1048,2,USD
2,366001,2,2016-01-01,2016-01-13 00:00:00.000000000,1269051,0,2007,1,USD
3,366002,1,2016-01-01,2016-01-12 00:00:00.000000000,266019,0,1106,7,CAD
4,366002,2,2016-01-01,2016-01-12 00:00:00.000000000,266019,0,373,1,CAD

In [21]:
data = sales.dtypes
data

Order Number              int64
Line Item                 int64
Order Date       datetime64[ns]
Delivery Date    datetime64[ns]
CustomerKey               int64
StoreKey                  int64
ProductKey                int64
Quantity                  int64
Currency Code            object
dtype: object